{% extends 'base.html' %}
{% block title%}
<title>{{title}}</title>
{%endblock%}

{% block content %}

<br><br>
<br><br>
<center><h1>Мои работы</h1></center>
<br>
<table class="table">
  <thead>
    <tr>
       <th scope="col">ID</th>
       <th scope="col">Имя</th>
      <th scope="col">Категория</th>
      <th scope="col">Вид</th>
      <th scope="col">Описание</th>
      <th scope="col">Заказчик</th>
      <th scope="col">Ссылка</th>
      <th scope="col">Github</th>
      <th scope="col">Технологии</th>
    </tr>
  </thead>
  <tbody>

  {% for pr in projects %}
    <tr>
      <td>{{pr.id}}</td>
      <td>{{pr.id_category.c_name}}</td>
      <td>{{pr.id_view.v_name}}</td>
      <td>{{pr.organization}}</td>
      <td><a href ="{{pr.get_absolute_url}}">{{ pr.p_name }}</a></td>
      <td>{{pr.p_description}}</td>
      <td>{{pr.p_i_did}}</td>

      <td>{{pr.webp_pre}}</td>


      {%if pr.p_img%}
      <img src="{{pr.p_img.url}}" alt="First slide" width="400" height="300">
      {% endif %}

      <td>{{pr.p_link}}</td>
      <td>{{pr.p_git}}</td>
      <td>{% for sk in pr.skills.all %}
         <a href="{{sk.get_absolute_url}}"> {{sk.s_name}} </a>
          <br><br>
            {%endfor%}
      </td>
      <td>{{pr.p_sorting}}</td>
      <td>{{pr.p_status}}</td>

    </tr>
  {% endfor %}

  </tbody>

</table>

    {% endblock %}