{% extends 'base.html' %}
{%block title%}
<title>{{title}}</title>
{% endblock %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Проект</th>
    </tr>
  </thead>
  <tbody>

    {% for sk in skills %}
    <tr>
      <td>{{ sk.s_name }}</td>
      <td>
      {% for pr in sk.project.all %}
       <a href="{{pr.get_absolute_url}}">{{ pr.p_name }}</a>
        <br>
     {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% endblock %}