{% extends 'base.html' %}
{%block title%}
<title>{{title}}</title>
{% endblock %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Проекты</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ skill.s_name }}</td>
    </tr>
   <tr>
      <td>
        {% for pr in skill.project.all %}
          <a href="{{pr.get_absolute_url}}">{{ pr.p_name }}</a>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
{% for pr in projects%}

<a href="{{pr.get_absolute_url}}">{{pr.p_name}}</a>
<br>

{% endfor %}
    {% endblock %}
